@font-face {
  font-family: 'open_sans_condensedbold';
  src: url('/fonts/open-condensed.eot');
  src: url('/fonts/open-condensed.eot?#iefix') format('embedded-opentype'),
       url('/fonts/open-condensed.woff') format('woff'),
       url('/fonts/open-condensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ubuntu_condensed';
  src: url('/fonts/ubuntu.eot');
  src: url('/fonts/ubuntu.eot?#iefix') format('embedded-opentype'),
       url('/fonts/ubuntu.woff') format('woff'),
       url('/fonts/ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 20px;
  font-family: 'ubuntu_condensed', sans-serif;
  color: white;
  font-size: 16px;
  line-height: 24px;
  background-color: #0d1117;
}

a {
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  margin: 10px 0px 17px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 0px;
  font-family: 'open_sans_condensedbold';
}
h2 {
  margin: 20px 0px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 2px 0px;
  font-family: 'open_sans_condensedbold';
}
h3 {
  margin: 10px 0px;
  font-size: 30px;
  font-family: 'open_sans_condensedbold';
  line-height: 30px;
  color: rgb(20, 97, 97);
  text-shadow: 0 1px rgba(255,255,255,0.3);
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  color: rgb(232, 255, 255);
  font-size: 22px;
  line-height: 30px;
  text-shadow: 0 1px rgba(0,0,0,0.2);
}


.fade-enter{
  opacity: 0;
  transform: translateY(-20px);
}
.fade-exit{
  opacity: 1;
  transform: translateY(0);
}
.fade-enter-active{
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}
.fade-exit-active{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}