.container {
  margin: 20px;
}

.header {
  position: fixed;
  top: 15px;
  font-size: 40px;
  background-color: black;
  font-family: 'open_sans_condensedbold';
  z-index: 1;
}
.logo {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  -webkit-mask: url(/movie.svg) no-repeat 100% 100%;
  mask: url(/movie.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: antiquewhite;
}
.header .date {
  display: inline-block;
  margin-left: 50px;
  color: antiquewhite;
  font-size: 26px;
}

.main {
  margin-top: 70px;
} 
.day {
  margin: 20px 0;
  color: antiquewhite;
  font-size: 26px;
  background-color: black;
  font-family: 'open_sans_condensedbold';
}
.films_container {
  overflow: scroll;
  margin: 20px -20px;
  display: flex;
}

.film {
  position: relative;
  margin-left: 20px;
  min-width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}
.empty {
  min-width: 20px;
}
.film a {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,0.8) 50%, transparent);
}
.film .more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.film .description {
  overflow: scroll;
  padding: 10px 5px;
  background: rgba(0,0,0,0.7);
  max-height: 320px;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.3s, opacity 0.3s ease-in;
}
.film .description .info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 5px 0;
  border-radius: 10px;
  margin-bottom: 10px;
}
.film .description .info_header {
  color: antiquewhite;
}
.film .description .year {
  font-size: 28px;
}
.film .description .rating_green {
  font-size: 28px;
  color: greenyellow;
}
.film .description .rating_yellow {
  font-size: 24px;
  color: goldenrod;
}
.film .button {
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}
.film img {
  display: block;
  position: absolute;
  width: 300px;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  .header .date {
    margin-left: 30px;
  }
  .day {
    text-align: center;
  }
}