.container {
  margin: 20px;
}

.header {
  position: fixed;
  top: 13px;
  left: 0;
  right: 0;
  padding: 0 20px;
  font-size: 40px;
  background-color: black;
  font-family: 'open_sans_condensedbold';
  z-index: 1;
}
.logo {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  -webkit-mask: url(/movie.svg) no-repeat 100% 100%;
  mask: url(/movie.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: antiquewhite;
}
.header .date {
  display: inline-block;
  margin-left: 50px;
  color: antiquewhite;
  font-size: 26px;
}

.day {
  position: sticky;
  position: -webkit-sticky;
  top: 22px;
  margin: 20px 0;
  margin-left: 400px;
  color: antiquewhite;
  font-size: 26px;
  background-color: black;
  font-family: 'open_sans_condensedbold';
  z-index: 2;
}

.films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.film {
  position: relative;
}
.film a {
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(black 50%, transparent);
}
.film img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
